/*
 * Styling applied if an input field exceeds length defined in the data-maxlength attribute.
 * See ../javascript/wuv_admin_maxlength.js
 */

input[data-maxlength].warn {
    border: 2px solid yellow;
}
